
.squarePlay {
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    background-color: #f57e7e;
    border: .5vh inset #c96666;
}

.greenSquare {
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    background-color: rgb(20 184 166);
    border: .5vh outset #0f8679;
}

.squareCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(9rem);
}
