@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply max-w-2xl mx-auto px-4 flex justify-center items-center;
    }
}

* {
    margin: 0;

}

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 255, 255, 255;
        --background-end-rgb: 255, 255, 255;
    }
}

body {
    min-width: 100%;
    padding: 0;
    background-color: #FAACA8;
    background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
}

.img-jeu {
    transition: transform .2s ease-out;
}

.div-jeu:hover .img-jeu {
    transform: scale(105%);
}

#tableau {
    animation: tableau 1.5s;
    animation-timing-function: ease-out;
}

@keyframes tableau {
    0% {
        transform: translateX(-120vh) scale(.7);
    }
    70% {
        transform: translateX(0vh) scale(.7);
    }
    90% {
        transform: scale(.9);
    }
    100% {
        transform: scale(.8);
    }
}