@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply max-w-2xl;
    }
}

* {
    margin: 0;

}

:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

body {
    background-color: #efb5a3;
}

.img-jeu {
    transition: transform .2s ease-out;
}